<%- include('template/cabezera', {tituloweb: 'controles'}) %> 

<body>
    <h1>CONTROLES</h1>
    <div class="container">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Acción</th>
              </tr>
            </thead>
            <tbody>
                <% if (arrayControles.length > 0) { %>
                    <% arrayControles.forEach(control => { %>
                        <tr>
                            <td><%= control.id %> </td>
                            <td><%= control.nombre %> </td>
                            <td><%= control.descripcion %> </td>
                            <td>
                                <a href="#" class="btn btn-warning btn-sm"><i class="bi-camera-fill"></i>Editar</a>
                            </td>

                            </td>
                        </tr>
                    <% }) %>
                <% } %>
            </tbody>
        </table>
    </div>


<%- include('template/footer') %> 