<%- include('template/cabezera', {tituloweb: 'controles'}) %> 

<body>
    <h1>CONTROLES</h1>
    <div class="container">
        <table>
            <thead>
              <tr>
                  <th>id</th>
                  <th>Nombre</th>
                  <th>Descripción</th>
                  <th>Acción</th>
              </tr>
            </thead>
            <tbody>

            <% if (arrayControles.length > 0) { %>
                <% arrayControles.forEach(control => { %>
                    <tr>
                        <td><%= control.id %> </td>
                        <td><%= control.nombre %> </td>
                        <td><%= control.descripcion %> </td>
                        <td><a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">battery_alert</i></a></td>
                    </tr>
                <% }) %>
            <% } %>
         </tbody>
        </table>
    </div>


<%- include('template/footer') %> 